body {
    background-color: #e8f4fc;
}

.title{
    text-align: center;
    color: #38a6f5;
    font-family: Elephant;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.columns-on-page {
    display: flex;
    gap: 50px;
}

.column{
    border-radius: 10px;
    background-color: #03356e;
    width: 350px;
}

.title-column{
    text-align: center;
    color: white;
}

.btn-create-card {
    width: 130px;
    height: 50px;
    background-color: #38a6f5;
    color: white;
    border: #03356e solid 2px;
    border-radius: 3px;
}

.card {
    background-color: #e8f4fc;
    border-radius: 5px;
    border: #5583B7 solid 3px;
    margin: 10px 15px;
}

.card h3{
    text-align: center;
}

ul li{
    list-style: none;
    display: flex;
}

.line {
    background-color: #5583B7;
    height: 3px;
    width: 100%;
}

.date-time{
    font-size: 14px;
    text-align: center;
}